*{
    background: #f3dccb;
    font-family: 'Roboto', sans-serif;
}

.loggin{
    border-radius: 12px;
    box-shadow: 2px 7px 14px #000;
    height: 580px;
    width: 450px;
}

.frase{
    padding-top: 5px;
}

.logo-form img{
    width: 150px;
}

.usu-log .pass-log{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.Input{
    border-radius: 2px;
    
}

.Input:active{
    border: 2px solid #c59f61;
    background: #54351a;
    color: #fff;
    box-shadow: 3px 6px 15px #000;
}

#showPasswordButton{
    margin-top: 15px;
    background: none;
    border-radius: 2rem;
    width: 20%;
}
  
.show-icon {
    display: inline-block;
}
  
.hide-icon {
    display: none;
}

.boton-login{
    background-color: #54351a;
    font-family: 'Archer-Book-Pro';
    text-transform: uppercase;
    color: white;
    margin-top: 15px;
    padding: 15px 25px 10px;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
}

.boton-login:hover{
    background-color: #c59f61;
    color: #54351a;
    font-family: 'Archer-Book-Pro';
    border: none;
    box-shadow: 3px 6px 15px #000;
}
  
.forget-pass{
    font-family: 'Archer-Book-Pro';
    font-size: 20;
    color: #000;
    margin-top: 2px;
    text-decoration:none ;
    border: none;
}

.navBar{
    display: flex;
    width: 80%;
    padding: auto;
}

.navBar img{
    width: 150px;
    align-items: end;
}